@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;600&display=swap");

.light-theme {
  --lightColor: #1a1a1a;
  --bgColor: #c7daeb;
  --fgColor: #cbe4f9;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='126' height='84' viewBox='0 0 126 84'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2394c5ee' fill-opacity='0.4'%3E%3Cpath d='M126 83v1H0v-2h40V42H0v-2h40V0h2v40h40V0h2v40h40V0h2v83zm-2-1V42H84v40h40zM82 42H42v40h40V42zm-50-6a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm96 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm-42 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm30-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM20 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 24a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24-42a4 4 0 1 1 0-8 4 4 0 0 1 0 8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --inputColor: #d5e9fa;
  --activeColor: #f7878f;
  --tabColor: #abcff8;
  --btnColor: #ffc700;

  --footerColor: #a6bfd6;
  --footerBg: #353535;
  --toastColor: #2e3143;
  --color1: #ffc700;
  --color2: #ff0000;
  font-weight: 1000;
  --boxshadowcolor: #292929;
}

.dark-theme {
  --lightColor: #fafafa;
  --bgColor: #191b25;
  --fgColor: #232533;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='126' height='84' viewBox='0 0 126 84'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23232533' fill-opacity='0.4'%3E%3Cpath d='M126 83v1H0v-2h40V42H0v-2h40V0h2v40h40V0h2v40h40V0h2v83zm-2-1V42H84v40h40zM82 42H42v40h40V42zm-50-6a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm96 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm-42 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm30-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM20 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 24a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24-42a4 4 0 1 1 0-8 4 4 0 0 1 0 8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  --inputColor: #2c2e40;
  --activeColor: #9b57ff;
  --tabColor: #34374c;
  --btnColor: #32cb8b;

  --footerColor: #353535;
  --footerBg: #a6bfd6;
  --toastColor: #2e3143;
  --color2: #ffd94e;
  --color1: #ff0000;
  --boxshadowcolor: #565758; 

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem 0;
  height: 100vh;

  background-color: var(--bgColor);
  color: var(--lightColor);

  font-family: "Source Sans Pro", sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  transition: background-color 400ms ease;
}

a {
  color: inherit;
  text-decoration: none;
}

.borderh {
  /* font-family: sans-serif; */
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  line-height: 0.8;
  text-align: center;
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  margin: 0.5em auto 0.5em auto;
  width: 80%;
}

header {
  color: var(--color2);
  text-shadow: 4px 2px var(--color1);
  font-size: 2rem;
  font-weight: bolder;
  /* font-family: 'Bebas Neue', cursive; */
}

#switcher {
  padding: 0.5rem;
  height: 50px;
  width: 50px;

  font-size: 1.5rem;
  border-radius: 50%;
  border: 2px solid var(--lightColor);
  font-weight: 800;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  right: 2rem;
  cursor: pointer;
}
#switcher:hover {
  transform: scale(1.1, 1.1);
  transition: transform 300ms ease;
}

.card {
  min-height: 60vh;
  width: 80vw;
  padding: 1.5rem;

  border-radius: 10px;
  background-color: var(--fgColor);

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 4px 10px -7px var(--boxshadowcolor);
}

.card-header {
  width: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card-tab {
  padding: 0.5rem;
  cursor: pointer;
}

.card-tab:hover {
  transform: scale(1.15, 1.15);
  transition: transform 300ms ease;
}

.icon {
  margin-right: 0.5rem;
  padding: 0.4rem;

  border-radius: 99px;
  background-color: var(--activeColor);
}

.hidden {
  display: none !important;
}

.card-loading {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

#loader {
  height: 5rem;
  display: flex;
  align-items: center;
}

.card-search {
  flex: 1;

  font-family: "Cairo" ,sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.input-field {
  width: 80%;
  padding: 0.5rem;

  font: inherit;
  color: inherit;

  letter-spacing: 0.1rem;
  font-size: 1.3rem;
  background-color: var(--inputColor);

  border: none;
  border-radius: 6px;
}

.search-button {
  padding: 0.5rem 0.8rem;
  margin: 0 0 0 0.5em;

  font: inherit;
  font-size: 1.2rem;
  font-weight: 600;

  color: inherit;
  background-color: var(--btnColor);
  transition: background-color 300ms;

  border: none;
  border-radius: 6px;

  cursor: pointer;
  
}
.search-button:hover {
  transform: scale(1.1, 1.1);
  transition: transform 200ms ease;
  box-shadow: 0px 1.5px 6px var(--boxshadowcolor);
}

.card-download {
  padding: 2rem 0;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.download-start {
  flex: 1;
}

.title-container {
  font-weight: 600;
  color: var(--activeColor);
}

.song-title {
  color: var(--lightColor);
  display: inline;
}

#thumbnail {
  width: 100%;
  border: none;
  border-radius: 4px;
}

.qr-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#qr-code {
  margin-top: 2rem;
  margin-bottom: 1rem;
  height: 150px;
  width: 150px;
}

.download-mid {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.song-btns {
  width: 80%;
}


.download-end {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frame {
  height: 100px;
  width: 100%;
  border: none;
}


.listen {
  padding: 1rem;
  height: 2rem;
  background-color: #fb3640;
  color: #fafafa;

  display: flex;
  align-items: center;

  border-radius:4px;
}

#listen-text {
  margin: 0 1rem;
}
.listen:hover{
  background-color: #ee7177;
  transform: scale(1.05, 1.05);
  transition: transform 400ms background-color 200ms ease;
}

footer {
  font-size: 1.2rem;
  color: var(--footerColor);
  background-color: var(--footerBg);
}

#loader .line {
  margin: 0 0.2rem;
  height: 100%;
  width: 0.3rem;

  background-color: var(--lightColor);
  border-radius: 1rem;

  animation: loading 0.8s linear infinite;
}

#loader .line:nth-child(2) {
  animation-delay: 0.1s;
}

#loader .line:nth-child(3) {
  animation-delay: 0.2s;
}

#loader .line:nth-child(4) {
  animation-delay: 0.3s;
}

#loader .line:nth-child(5) {
  animation-delay: 0.4s;
}

#loader .line:nth-child(6) {
  animation-delay: 0.5s;
}

#loader .line:nth-child(7) {
  animation-delay: 0.6s;
}

#loader .line:nth-child(8) {
  animation-delay: 0.7s;
}

@keyframes loading {
  0% {
    height: 0;
  }

  50% {
    height: 100%;
  }

  100% {
    height: 0;
  }
}

.toast {
  height: 2rem;
  width: 12rem;
  padding: 0 0.8rem;

  border-left: 2px solid #f55c47;
  background-color: var(--toastColor);
  font-size: 1.2rem;

  position: fixed;
  bottom: 4rem;

  visibility: hidden;
  display: flex;
  justify-content: space-evenly;
}

.toast-icon,
.toast-text {
  display: flex;
  align-items: center;
}

.toast-show {
  visibility: visible;

  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 4rem;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 4rem;
    opacity: 1;
  }

  to {
    bottom: 4rem;
    opacity: 0;
  }
}

@media (max-width: 1200px) {
  .card {
    width: 95vw;
  }

  .card-download {
    flex-direction: column;
  }

  .thumbnail-container {
    width: 60%;
  }
}
